.images {
    padding-top: 120px;
    padding-bottom: 120px;
}
.images-container {
   
}

.images-top-paragraph{
    @include font(var(--primary-font), 600, 11px, 1.36, 0.02em, #303030);
    text-transform: uppercase;
    
    margin-bottom: 44px;
}

.hide {
}
.images-list {
    display: flex;
    gap:30px;
}


.images-item {
    width: calc((100% - 90px) / 4)
}