.online-booking {
    background-color: pink;
    padding-top: 130px;
    padding-bottom: 120px;
    width: calc(50% - 15px)
}

.online-booking-container {
    
}



.online-booking-title {
    @include font(var(--additional-font), 700, 42px, 1.16, 0.05em, var(--title-text-color));
}

.online-book-button{
    display: block;
    text-transform: uppercase;

    width: 160px;
    height: 40px;

    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;

    cursor: pointer;

    margin-right: auto;
    margin-left: auto;}