.prices {
    padding-top: 120px;
    padding-bottom: 120px;

    background-color:  #111319;
    background-image: url(../../images/Prices_background.png);


    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

    max-width: 1600px;
    margin: 0 auto;
}

.prices-container {
    

}

.prices-top-paragraph {
    @include font(var(--primary-font), 600, 11px, 1.36, 0.02em, rgba(157, 164, 189, 0.6));
    text-transform: uppercase;

    margin-bottom: 20px;
}
.prices-title {
    @include font(var(--additional-font), 700, 42px, 1.16, 0.05em, var(--title-text-color));

}

.prices-wrap{
display: flex;
justify-content: space-between;

margin-top: 44px;
margin-bottom: 44px;
}

.prices-left-list {
 
width: calc((100% - 30px) / 2);
padding-top: 30px;
padding-right: 20px;
padding-bottom: 30px;
padding-left: 22px;

background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);;
}


.prices-left-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    align-items: baseline;
    gap: 12px;
}


.prices-left-item::before{
    content: ' ';
    width: 100px;
    height: 1px;
    background-color:  rgba(157, 164, 189, 0.12);
    flex-grow: 1;
}

.prices-right-item::before{
    content: ' ';
    width: 100px;
    height: 1px;
    background-color:  rgba(157, 164, 189, 0.12);
    flex-grow: 1;
}


.prices-left-item:last-child {
    margin-bottom: 0;
}


.prices-left-paragraph {
    @include font(var(--primary-font), 400, 18px, 1.66, 0.02em, #9DA4BD);
    order: -1;
}


.prices-left-span {
    @include font(var(--primary-font), 400, 18px, 1.66, 0.02em, #9DA4BD);

}

.prices-right-list {
   
    width: calc((100% - 30px) / 2);
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 22px;

    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);;
}

.prices-right-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    align-items: baseline;
    gap: 12px;
}

.prices-right-item::before{
    content: ' ';
    width: 100px;
    height: 1px;
    background-color:  rgba(157, 164, 189, 0.12);
    flex-grow: 1;
}

.prices-right-item:last-child {
    margin-bottom: 0;
   
}

.prices-right-paragraph {
    @include font(var(--primary-font), 400, 18px, 1.66, 0.02em, #9DA4BD);
    order: -1;
}

.prices-right-span {
    @include font(var(--primary-font), 400, 18px, 1.66, 0.02em, #9DA4BD);
}

.prices-button {
    display: block;
    text-transform: uppercase;

    width: 160px;
    height: 40px;

    background-color: transparent;
    color: white;
    border: 1px solid #FF6C00;
    border-radius: 25px;

    cursor: pointer;

    margin-right: auto;
    margin-left: auto;

}